body {
  background: black;
}

#title {
  color: white;
  font-size: large;
  text-align: center;
  font-family: serif;
  opacity: 0.6;
}

#controls {
  left: 0;
  right: 0;
  top: 20px;
  height: 70px;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.btn, #gap {
  width: 60px;
  height: 60px;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  background-size: 100% 100%;
  opacity: 0.4;
}

#gap {
  width: 2px;
  background-color: white;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn.active {
  opacity: 1;
  cursor: default;
}

#play-buttonA {
  background-image: url('img/buttons/play-btnA.png');
}

#play-buttonB {
  background-image: url('img/buttons/play-btnB.png');
}

#play-buttonA.playing {
  background-image: url('img/buttons/pause-btnA.png') !important;
  opacity: 1;
}

#play-buttonB.playing {
  background-image: url('img/buttons/pause-btnB.png') !important;
  opacity: 1;
}

#color-button {
  background-image: url('img/buttons/color-btn.png');
}    

#both-button {
  background-image: url('img/buttons/both-btn.png');
}    

#bw-button {
  background-image: url('img/buttons/bw-btn.png');
}    

#text-button {
  background-image: url('img/buttons/text-btn.png');
  cursor: pointer !important;

}



#side-a {
  position: absolute;
  top: 110px;
  left:0;
  width:50%;
  bottom:0;
  background: black;
  text-align: center;
}

#side-b {
  position: absolute;
  top: 110px;
  right:0;
  width:50%;
  bottom:0;
  text-align: center;
}

#bwA, #bwB {
  -webkit-transition: opacity ease-in-out 0.7s; /* For Safari 3.1 to 6.0 */
  transition: opacity ease-in-out 0.7s;
  opacity: 1;
}

.both-disk #bwA, .both-disk #bwB {
  opacity: 0.5;
}

.color-disk #bwA, .color-disk #bwB {
  opacity: 0;
}

.bw-disk #bwA, .bw-disk #bwB {
  opacity: 1;
}

.text-enabled .text {
  opacity: 0.5;
}

#side-a img, #side-b img {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}

#side-a > div, #side-b > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

#colorA, #colorB {
  opacity: 1;
}

#transparentA, #transparentB {
  opacity: 0;
}

.text {
  opacity:0;
}

.texthover {
  opacity: 1 !important;
}
