body {
  margin:0;
  padding: 0;
  background: black;
  overflow: hidden;
  min-width:550px;
}


#title {
  color: white;
  font-size: large;
  text-align: center;
  font-family: serif;
  opacity: 0.6;
  margin: 0;
  margin-top: 5px;
}

#controls {
  left: 0;
  right: 0;
  top: 20px;
  height: 70px;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.btn, #gap {
  width: 60px;
  height: 60px;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  background-size: 100% 100%;
  opacity: 0.4;
}

#gap {
  width: 2px;
  background-color: white;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn.active {
  opacity: 1;
  cursor: default;
}

#play-buttonA {
  background-image: url('img/buttons/play-btnA.png');
}

#play-buttonB {
  background-image: url('img/buttons/play-btnB.png');
}

#play-buttonA.playing {
  background-image: url('img/buttons/pause-btnA.png') !important;
  opacity: 1;
}

#play-buttonB.playing {
  background-image: url('img/buttons/pause-btnB.png') !important;
  opacity: 1;
}

#color-button {
  background-image: url('img/buttons/color-btn.png');
}    

#both-button {
  background-image: url('img/buttons/both-btn.png');
}    

#bw-button {
  background-image: url('img/buttons/bw-btn.png');
}    

#text-button {
  background-image: url('img/buttons/text-btn.png');
  cursor: pointer !important;

}



#side-a {
  position: absolute;
  top: 110px;
  left:0;
  width:50%;
  bottom:0;
  background: black;
  text-align: center;
}

#side-b {
  position: absolute;
  top: 110px;
  right:0;
  width:50%;
  bottom:0;
  text-align: center;
}

#bwA, #bwB {
  -webkit-transition: opacity ease-in-out 0.7s; /* For Safari 3.1 to 6.0 */
  -moz-transition: opacity ease-in-out 0.7s;
  -o-transition: opacity ease-in-out 0.7s;
  transition: opacity ease-in-out 0.7s;
  opacity: 1;
}

.both-disk #bwA, .both-disk #bwB {
  opacity: 0.5;
}

.color-disk #bwA, .color-disk #bwB {
  opacity: 0;
}

.bw-disk #bwA, .bw-disk #bwB {
  opacity: 1;
}

.text-enabled .text {
  opacity: 0.5;
}

.text.texthover {
  translateZ(0);
  opacity: 1 !important;
}

#side-a img, #side-b img {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
}

#side-a > div, #side-b > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

#colorA, #colorB {
  opacity: 1;
}

#transparentA, #transparentB, #transparentA *, #transparentB * {
  opacity: 0;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

.text {
  opacity:0;
}

#credits {
  position: absolute;
  display: block;
  width: 300px;
  height: 140px;
  top:30px;
  right:-260px;
  opacity:0.4;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(170, 170, 170);
  /* RGBa with 0.6 opacity */
  background-color: rgba(255, 255, 255, 0.9);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

#credits:hover {
  opacity:1;
  cursor:pointer;
}

#credits.active {
  opacity:1;
  right:0;

}

#credits-text {
  font-size: 10px;
  position: absolute;
  display: block;
  left:40px;
  bottom: 40px;
  right: 5px;
  top: 5px;
}


#credits-text dt {
  display: inline-block;
}

#credits-text dd {
  display: inline-block;
  margin:0;
  float: right;
}

#credits-text a {
  color:black;
  text-decoration: none;
}

#credits-text a:hover {
  color:black;
  text-decoration: underline;
}


#credits-link {
  position: absolute;
  bottom:48px;
  left:0;
  height:80px;
  width:40px;
  background-image: url("img/buttons/credits-btn.png");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#daidalika-link {
  position: absolute;
  bottom:0;
  left:0;
  height:35px;
  width:290px;
  margin:4px;
  background-image: url("img/buttons/daidalika-btn.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

#daidalika-link > a {
  height: 100%;
  width: 250px;
  float: right;
  opacity:0;
}

